body {
  font-size: 14px;
  font-family: 'Gotham', sans-serif;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: table;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}