.swiper-pagination {
  position: relative;
  margin-top: 2em;
}

.swiper-container {
  padding: 1em 0;
}

.slide-product-active {
  transform: scale(1.1);
}

.swiper-pagination-bullet {
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background: #999;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #000;
}

.swiper-container-horizontal > .swiper-pagination-bullets  .swiper-pagination-bullet {
  background: rgba($color: #555555, $alpha: 0.5);
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #4bc4df;
}

.slide-container-home {
  max-height: 450px;
  min-height: 450px;
  position: relative;
}

.slide-hero-cta {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $mainColor;
  color: #fff;
}

.shc {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.sch--text-1 {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 40px;
  }
}

.sch--text-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 40px;
  }
  h2 {
    color: #FE7865 !important;
  }
}

.sch--text-3 {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 40px;
  }
  h2 {
    color: #FE7865 !important;
  }
}

