.text--color-gray {
  color: $grayColor;
}

.text--color-orange {
  color: $orangeColor;
}

.text--color-blue {
  color: $mainColor;
}

.text--color-black {
  color: $mainTextColor;
}

.text--color-green {
  color: $greenColor;
}

.text--right {
  text-align: right;
}

.text--size-14 {
  font-size: 14px;
}

.text--size-12 {
  font-size: 12px;
}

.text--size-10 {
  font-size: 10px;
}

.text--size-1-5 {
  font-size: 1.5em;
}

.text--size-2 {
  font-size: 2em;
}

.text--center {
  text-align: center;
}