@import '../../assets/scss/global/var';

footer {
  border-top: 1px solid rgba($color: $grayColor, $alpha: .5);
  padding-top: 1.5em;
  background-color: #6d6e70;
  color: #fff;
  margin-top: 7em;
}

.top-footer {
  padding: 0.5em 0;
  border-top: 1px solid rgba($color: $grayColor, $alpha: .2);
  border-bottom: 1px solid rgba($color: white, $alpha: .2);
}

.footer-logo {
  max-width: 150px;
  margin-bottom: 2em;
}

.footer-link-container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-link {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-top: 5px;
    a {
      color: #fff;
      font-weight: 600;
      font-size: 10px;
    }

    span {
      color: #fff;
      font-weight: 600;
      font-size: 10px;
    }
  }
}

.footer-link-address {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    a {
      color: #fff;
      font-weight: 600;
      font-size: 10px;
    }
  }
}

.footer-sub-link {
  font-size: 10px !important;
  color: #dadada !important;
}

.footer-link-title {
  margin-bottom: 1.5em;
}

.footer-default-link {
  color: blue !important;
  font-size: 12px !important;
  margin-left: 20px;
}

.footer-download {
  padding: 1em 0;
  border-top: 1px solid rgba($color: white, $alpha: .2);
  border-bottom: 1px solid rgba($color: white, $alpha: .2);
}

.footer-download-icon {

  .circle--social {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #4ec5e0 !important;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;;

    &:hover {
      background-color: #4ec5e0 !important;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.divider-with-text {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: rgba($color: $grayColor, $alpha: .2);

  span {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1em;
  }
}

.app-store-icon {
  max-width: 100px;
}