@import "../../assets/scss/global/var";

header {
  padding: 0 0;
  background-color: #fff;
}
.sticky-header {
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  position: sticky;
}

.logo {
  max-width: 150px;
  margin: 7px 0;
}

.search-input-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.header-top-icon {
  margin: 0 1em;
  font-size: 1.3em;
}

.header-top-icon--flag {
  border-left: 1px solid #ccc;
  padding-left: 1em;
}

.menu-header {
  margin-top: 10px;
  background-color: #f4f4f4;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      padding: 0.5em;
      margin: 0 10px;
      width: 100%;
      text-align: center;

      &:hover {
        a {
          border-bottom: 2px solid #6c6e70;
        }
      }
    }

    a {
      font-weight: 700;
      color: #6c6e70;
      // color: $mainTextColor;
      white-space: nowrap;
      font-size: 12px;
    }
  }
}

.has-sub {
  position: relative;

  .sub-menu-container {
    display: none;
    background-color: rgba($color: $grayColor, $alpha: 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    z-index: 2;
    color: #fff;
    padding: 2em;
    text-align: left;
  }

  &.hs--right-edge {
    .sub-menu-container {
      left: auto;
      right: 0;
    }
  }

  .sub-menu-title {
    padding-bottom: 1em;
    border-bottom: 2px solid #fff;
    margin-bottom: 1em;
  }

  .sub-menu-item {
    margin-bottom: 10px;

    a {
      color: #fff !important;
      border-bottom: 0 !important;
      font-weight: 400;
      display: inline-block;
      width: 100%;

      &:hover {
        color: #4bc4df !important;
      }
    }

    span {
      white-space: nowrap;
    }

    &:last-child {
      margin-bottom: 0;
    }
    &.smi--parent {
      font-weight: 900;
    }
  }

  &:hover {
    .sub-menu-container {
      display: block;
    }
  }

  .inspiration-menu-image {
    width: 200px;
  }
}

.header-top-icon {
  position: relative;
}

.cart-total {
  position: absolute;
  top: -15px;
  right: -100%;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $mainColor;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.sub-menu-column {
  margin-right: 2em;

  &:last-child {
    margin-right: 0;
  }
}

.header-top-icon {
  position: relative;
  cursor: pointer;

  .header--dropdown {
    display: none;
    z-index: 9999;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    font-size: 12px;
    padding: 10px;
    background-color: $grayColor;
    color: #fff;

    a {
      color: #fff;
    }
  }

  &:hover {
    .header--dropdown {
      display: block;
    }
  }

  .hd--item {
    margin-bottom: 10px;
  }
}

.header-top-icon--image {
  img {
    width: 24px;
  }
}

.header-top-icon--profile {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    font-weight: bold;
    font-size: 12px;
    padding: 0 10px 0;
    margin: 0 0;
  }
}

.cart--count {
  position: absolute;
  left: 15px;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #f96464;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
}

.menu--mobile {
  display: none;
}