@import "../../assets/scss/global/var";

.product-card-wrapper {
  width: 100%;
  p {
    margin-bottom: 5px;
  }
}

.product-wish-list {
  cursor: pointer;
}

.product-card {
  overflow: hidden;
  margin-bottom: 1.5em;

  &:hover .product-card-image img {
    transform: scale(1.15, 1.15) rotate(1deg);
  }
}

.product-card-image {
  position: relative;
  max-height: 200px;
  overflow: hidden;

  img {
    object-fit: contain;
    width: 100%;
    height: 200px;
    transition: .2s all ease-in-out;
  }

  span {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.product-card-footer {
  padding: 10px 15px;
}

.table-product-image-wrapper {
  display: flex;
}

.table-product-image {
  margin: 0 10px;
  max-width: 150px;
}

.table-cart {
  td {
    vertical-align: middle !important;
  }
}

.total-card-cart-wrapper {
  text-align: right;
  margin-top: 2em;
}

.total-card-cart {
  text-align: center;
  display: inline-block;
  padding: 1em;
  border: 1px solid rgba($color: $grayColor, $alpha: 0.5);
  border-radius: 5px;
}

.product-slide-with-number {
  position: relative;
}

.product-slide-with-number-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.product-number {
  background-color: $mainColor;
  padding: 10px;
  margin-right: 10px;
  color: #fff;
  font-weight: 900;
}

.product-title {
  font-size: 1.2em;
  font-weight: 900;
  color: #fff;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.margin-bottom-list {
  margin-bottom: 20px;
}

.slide-product-active {
  .product-slide-with-number-wrapper {
    display: block;
  }
}

.cl--parent {
  position: relative;
}

.cl--parent,
.cl--item {
  margin-bottom: 10px;
}

.cat-container {
  margin-bottom: 2em;
}

.cat--title {
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid $grayColor;
}

.cat--sub-title {
  margin-bottom: 10px;
}

.cat--items {
  margin-bottom: 10px;

  label {
    margin: 0;
  }
}

.cat-product-hero {
  position: relative;
}

.cat-product-hero-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 1em;
}

.img-detail-thumbnail {
  margin-right: 10px;
  min-height: 70px;
  max-height: 70px;

  &:last-child {
    margin-right: 0;
  }
}

.product-detail-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2em;
}

.pda--items {
  margin: 0 5px;
}

.rating-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2em;
}

.pdt--tab {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.pdt--tab-item {
  margin: 0 5px;
  cursor: pointer;

  &.pdt--tab-item-active {
    border-bottom: 2px solid #000;
  }
}

.product-detail-variant {
  margin-top: 3em;

  h3 {
    margin-bottom: 2em !important;
  }
  p {
    text-align: center;
    font-weight: bold;
    color: black;
  }
  .variant-item {
    margin-left: 1em;
    border: 1px solid $grayColor;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
  }
}

.customer-review {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.customer-review-wrapper {
  display: flex;
  margin-bottom: 1em;
}

.cr-rating-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cr--avatar {
  flex: 0 0 50px;
  max-width: 50px;
  margin-right: 1em;
}
