@import "../../assets/scss/global/var";

.checkout-form {
  border: 1px solid $grayColor;
  padding: 1em;
  border-radius: 5px;
}

.checkout-steps-list {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1em;
}

.steps-list--active {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    border-bottom: 15px solid $grayColor;
  }
}

.checkout-image-container {
  display: flex;
  align-items: center;
}

.checkout-image {
  max-width: 70px;
  max-height: 70px;
  margin-right: 1em;
}

.quantity-input {
  max-width: 50px;
  margin-right: 1em;
}

.order-status-box {
  padding: 2em;
  border: 2px solid $grayColor;
  border-radius: 5px;
}

.order-status-container {
  display: flex;
  justify-content: center;
}

.order-status-box {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    width: 52px;
    height: 2px;
    background-color: $grayColor;
  }
}

.order-status-wrapper {
  text-align: center;
  flex: 0 0 100px;
  max-width: 100px;
  margin-right: 50px;

  &:last-child {
    margin-right: 0px;
    .order-status-box {
      &::after {
        display: none;
      }
    }
  }
}

.order-status-text {
  margin-top: 1em;
  font-weight: 900;
}

.orb--active {
  .order-status-box {
    border: 2px solid $mainColor;
  }

  .order-status-text {
    color: $mainColor;
  }

  .order-status-box {
    &::after {
      background-color: $mainColor;
    }
  }
}
/**

ADDRESS

*/
.box-address {
  width: 350px;
  max-width: 400px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 20px 50px 20px;
}
.box-address--detail {
  // padding: 10px
  padding: 5px 25px 20px;
  p {
    margin: 0 0;
    font-size: 12px;
  }

  .phone {
    padding: 10px 0 0;
  }
}

.radio--input {
  input[type="radio"] {
    position: absolute;
    opacity: 0;
  }

  input[type="radio"] + .box-address::before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: 2.5em;
    left: -40px;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
  }

  input[type="radio"]:checked + .box-address::before {
    background-color: #46C5E2;
    box-shadow: inset 0 0 0 4px #f4f4f4;
  }

  input[type="radio"]:focus + .box-address::before {
    outline: none;
    border-color: #46C5E2;
  }
}
