.tab--detail {
  padding: 0 0.2em;

  .tab--detail-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    h4 {
      flex: 1;
      font-weight: 600;;
    }

    p {
      flex: 1;
      font-size: 12px;
    }
  }
}

.swiper-button-prev {
  background-image: none !important;
}
.swiper-button-next {
  background-image: none !important;
}